/* Rubén Torres */

/***** FORMULARIO *****/
form{
    width: 450px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
}

form > div{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* LABEL */
label{
    margin-top: 5px;
}

/* INPUT */
input[type=text]{
    outline: none;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
}


/* BUTTON */
#botones{
    justify-content: right;
}

#botones > input{
    margin: 5px;
    padding: 10px;
    color: white;
    background-color: #2e3440;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#botones > input:first-child:hover{
    background-color: rgb(34, 189, 20);
}

#botones > input:last-child:hover{
    background-color: rgb(206, 31, 31);
}