/* Rubén Torres */

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/***** FORM *****/
form{
    /* width: 260px; */
    width: 28.888888889%; /* Respecto al width del section (su caja contenedora) */
    /* padding: 25px; */
    padding: 2.777777778%; /* Respecto al width del section (su caja contenedora) */
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
    border-radius: 20px;
}

form > legend{
    font-weight: bold;
    padding: 0.625em 0;
}

#botones{
    display: flex;
    justify-content: right;
    padding: 1.25em 0 0 0;
}

#botones > input{
    /* margin: 5px; */
    margin: 1.923076923%; /*  Respecto al width del div (su caja contenedora)*/
    /* padding: 10px; */
    padding: 0.625em;
    color: white;
    background-color: #2e3440;
    border-radius: 5px;
    font-size: 0.95em;
    border: none;
    cursor: pointer;
}

#botones > input:first-child:hover{
    background-color: rgb(223, 146, 23);
}

#botones > input:last-child:hover{
    background-color: rgb(31, 92, 206);
}

@media screen and (max-width: 650px) {
    form{
        width: 50%;
    }
}