/* Rubén Torres */

section{
    display: flex;
    flex-direction: column;
}

/***** TABLE *****/
table{
    width: 700px;
    margin: 40px auto;
    border-collapse: collapse;
    text-align: center;
    background-color: rgb(241, 241, 241);
}

table tr:first-child{
    background-color: #2e3440;
    color: white;
}

table tr:nth-child(2n){
    background-color: #b5bbc5;
}

table tr{
    border-bottom: 2px solid rgb(131, 131, 131);
}

table tr > th,
table tr > td{
    padding: 15px 10px;
}

.iconos{
    width: 40px;
    transition: ease-in 200ms;
}

.iconos:hover{
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.8));
    transition: ease-in 200ms;
}

/**** AÑADIR EMPLEADO ****/
section > a{
    margin: 0 auto;
    transition: ease-in 200ms;
}

section > a:hover{
    filter: drop-shadow(5px 5px 5px #222);
    transition: ease-in 150ms;
}

section > a > img{
    width: 40px;
    margin: 0 10px 0 0;
    float: left;
}

section > a > h3{
    margin: 10px 0 0;
    float: left;
    color: white;
}

/***** BUSCAR *****/
form{
    max-width: 450px;
    margin: 20px auto;
    display: flex;
    position: relative;
}

form > div:first-child{
    background-color: #2e3440;
    padding-right: 30px;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

form > div > select{
    background-color: #2e3440;
    color: white;
    height: 100%;
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;
    border: none;
}

form > div:last-child{
    display: flex;
    position: relative;
    background-color: white;
    width: 100%;
    padding: 5px 10px;
    margin-left: 100px;
    border-radius: 10px;
    border: 3px solid #2e3440;
    z-index: 1;
}

form > div > img{
    width: 25px;
}

form > div > input[type=text]{
    outline: none;
    border: none;
    margin: 0 10px;
    font-size: 15px;
}

form > div > input[type=submit]{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;    
    border-radius: 7px;
    padding: 0 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

form > div > input[type=submit]:hover{
    background-color: #adc0e9;
}