/* Rubén Torres */

section{
    display: flex;
    flex-direction: column;
}

/***** TABLE *****/
table{
    /* width: 700px; */
    width: 77.777777778%; /* respecto al width del section (su caja contenedora) */
    /* margin: 40px auto; */
    margin: 2.5em auto;
    border-collapse: collapse;
    text-align: center;
    background-color: rgb(241, 241, 241);
}

/*** CABECERA ***/
table tr:first-child{
    background-color: #2e3440;
    color: white;
}

/*** CONTENIDO ***/
table tr:nth-child(2n){
    background-color: #b5bbc5;
}

table tr{
    border-bottom: 2px solid rgb(131, 131, 131);
}

table tr > th,
table tr > td{
    /* padding: 15px 10px; */ 
    padding: 0.9375em 0.735294118%; /* respecto al width del html */
}

table h1{
    color: #2e3440;
}

/** ICONOS **/
.iconos{
    /* width: 40px; */
    width: 2.5em;
    transition: ease-in 200ms;
}

.iconos:hover{
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.8));
    transition: ease-in 200ms;
}

/**** AÑADIR EMPLEADO ****/
section > a{
    margin: 0 auto;
    transition: ease-in 200ms;
}

section > a:hover{
    filter: drop-shadow(5px 5px 5px #222);
    transition: ease-in 150ms;
}

section > a > img{
    /* width: 40px; */
    width: 2.5em;
    margin: 0 10px 0 0;
    float: left;
}

section > a > h3{
    /* margin: 10px 0 0; */
    margin: 0.625em 0 0;
    float: left;
    color: white;
}

/***** BUSCAR *****/
/*** FORM ***/
form{
    /* width: 450px; */
    width: 50%; /* respecto al width del section (su caja contenedora) */
    /* margin: 20px auto; */
    margin: 1.25em auto;
    display: flex;
    position: relative;
}

/*** SELECT ***/
form > div:first-child{
    /* width: 115px; */
    width: 25.555555556%; /* respecto al width del form (su caja contenedora) */
    background-color: #2e3440;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

form > div > select{
    background-color: #2e3440;
    color: white;
    height: 100%;
    /* padding: 10px; */
    padding: 8.695652174%; /* respecto al width del div (su caja contenedora) */
    /* margin: 0 10px; */
    margin: 0 8.695652174%; /* respecto al width del div (su caja contenedora) */
    border-radius: 10px;
    border: none;
}

/*** BUSCADOR ***/
form > div:last-child{
    /* width: 322px; */
    width: 71.555555556%; /* respecto al width del form (su caja contenedora) */
    /* width: 71.222222223%; */ /* Al tener borde y pasarlo a % no le pueden quedar decimales, entoces se redondea el borde y lo que le hayamos sumado al borde para redondearlo, se le resta al width */
    display: flex;
    position: relative;
    /* padding: 5px 10px; */
    padding: 0.3125em 2.222222222%; /* respecto al width del form (su caja contenedora) */
    /* margin-left: 100px; */
    margin-left: 22.222222222%; /* respecto al width del form (su caja contenedora) */
    background-color: white;
    border: 3px solid #2e3440;
    /* border: 1% solid #2e3440; */ /* respecto al width del form (su caja contenedora) */
    border-radius: 10px;
    z-index: 1;
}

/** LUPA **/
form > div > img{
    /* width: 25px; */
    width: 1.5625em;
}

/** INPUT **/
form > div > input[type=text]{
    outline: none;
    border: none;
    /* margin: 0 10px; */
    margin: 0 3.105590062%; /* respecto al width del div (su caja contenedora) */
}

/** BOTÓN BUSCAR **/
form > div > input[type=submit]{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;    
    border-radius: 7px;
    /* margin: 0 10px; */
    padding: 0 3.105590062%; /* respecto al width del div (su caja contenedora) */
    outline: none;
    border: none;
    cursor: pointer;
}

form > div > input[type=submit]:hover{
    background-color: #adc0e9;
}

@media screen and (max-width: 650px) {
    table{
        /* width: 90%; */
    }
}