/* Rubén Torres */

section{
    display: flex;
    flex-direction: column;
}

img{
    /* width: 300px; */
    width: 33.333333333%; /* Respecto al width del section (su caja contenedora) */
    margin: auto;
}

section > a{
    display: block;
    /* margin: 30px auto 0; */
    margin: 1.875em auto 0;
    /* padding: 5px 0; */
    padding: 0.3125em 0;
    /* border-bottom: 2px solid #b3b8c4; */
    border-bottom: 0.125em solid #b3b8c4;
    color: #b3b8c4;
}

#ok:hover{
    border-bottom-color: #B0FF48;
    color: #B0FF48;
}

#err:hover{
    border-bottom-color: #DA2727;
    color: #DA2727;
}