@charset "iso-8859-1";
/* Rubén Torres */

/*** ASIGNACIONES GLOBALES ***/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Arial';
}

html{
    width: 1360px;
    margin: auto;
}

body{
    /* width: 1200px; */
    width: 88.23529411764706%; /* respecto al width del html (su caja contenedora) */
    /* min-height: 747px; */
    min-height: 46.6875em;
    margin: auto;
    font-size: 16px;
}

h1{
    text-align: center;
    color: white;
}

/***** LAYOUT *****/
header{
    /* width: 1200px; */
    width: 100%; /* respecto al width del body (su caja contenedora) */
    /* min-height: 70px; */
    min-height: 4.375em;
    background-color: #3b4252; 
}

nav{
    /* width: 1200px; */
    width: 100%; /* respecto al width del body (su caja contenedora) */
    /* min-height: 70px; */
    min-height: 4.375em;
    background-color: #2e3440; 
}

main{
    overflow: hidden;
    background-color: #434c5e;
}

/*** ASIDE ***/
aside{
    /* width: 185px; */
    width: 15.416666667%; /* respecto al width del body (su caja contenedora) */
    /* min-height: 520px; */
    min-height: 26.25em;
    /* padding: 60px 5px 40px 10px; */
    padding: 3.75em 0.416666667% 2.5em 0.833333333%; /* respecto al width del body (su caja contenedora) */
    background-color: #3b4252;
    float: left;
}

aside li > a{
    display: block;
    /* padding: 15px; */
    padding: 8.108108108%; /* respecto al width del aside */
    color: white;
    border-radius: 5px;
}

aside li > a:hover{
    background-color: #434c5e;
}

section{
    /* width: 900px; */
    width: 75%; /* respecto al width del body (su caja contenedora) */
    /* min-height: 520px; */
    min-height: 26.25em;  
    /* padding: 40px 50px 60px; */
    padding: 2.5em 4.166666667% 3.75em; /* respecto al width del body (su caja contenedora) */
    float: left;
}

footer{
    /* width: 1200px; */
    width: 100%; /* respecto al width del body (su caja contenedora) */
    /* min-height: 87px; */
    min-height: 5.4375em;   
    background-color: #2e3440;   
}