@charset "iso-8859-1";
/* Rubén Torres */

/*** ASIGNACIONES GLOBALES ***/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Arial';
}

body{
    width: 1200px;
    min-height: 747px;
    margin: auto;
}

h1{
    text-align: center;
    color: white;
}

/***** LAYOUT *****/
header{
    width: 1200px;
    min-height: 70px;
    background-color: rgb(41, 41, 41); 
}

nav{
    width: 1200px;
    min-height: 70px;  
    background-color: rgb(26, 26, 26); 
}

main{
    overflow: hidden;
    background-color: rgb(65, 65, 65);
}

/*** ASIDE ***/
aside{
    width: 185px;
    min-height: 420px;  
    padding: 60px 5px 40px 10px;
    background-color: rgb(41, 41, 41);
    float: left;
}

aside li > a{
    display: block;
    padding: 15px;
    color: white;
}

aside li > a:hover{
    background-color: rgb(56, 56, 56);
}

section{
    width: 900px;
    min-height: 420px;  
    padding: 40px 50px 60px;   
    float: left;
}

footer{
    width: 1200px;
    min-height: 87px;   
    background-color: rgb(26, 26, 26);   
}